input {
  height: 25px;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: Georgia, serif;
  background: inherit;
  color: inherit;

  &[type="submit"] {
    height: 50px;
    background-color: #4d4dff;
    color: white;
    font-size: 18px;
  }
  &[type="checkbox"] {
    margin-right: 15px;
  }
}
